<!DOCTYPE html>

{% extends 'base.html' %}

{% block style %}
<style>
    .login-form-container {
        width: 500px;
        margin: auto;
    }
    .registration-form-container {
        width: 550px;
        margin: auto;
    }
    .container {
        width: 800px;
    }
    .auth-box {
        border: 2px solid lightgray;
        border-radius: 10px;
        padding: 25px;            
    }
</style>
{% endblock %}

{% block content %}
    <div class="container">
    <div class="auth-box mt-5">
        {% block auth_content %}
        {% endblock %}
    </div>
    </div>
{% endblock %}